.Profile {
  &__username {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__age {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  display: inline-block;
  /*flex-direction: column;*/
  background-color: #d4d4d4;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #2C3D9B;
  border-width: 2px;
  box-shadow: 5px 10px #bbbbbb;
}


